<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid">
            <div class="row w-100">
                <div class="col-6 col-lg-3 d-flex align-items-center">
                    <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                    <a class="navbar-brand fw-bold" href="./index.html">VisionAR</a>
                </div>
                <div class="col-6 col-lg-3 order-lg-3 align-content-center pe-0">
                    <ul class="navbar-nav d-flex justify-content-end align-items-center flex-row gap-3 gap-lg-2">
                        <li class="nav-item d-block d-lg-none">
                            <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Buscar">
                                <i class="bi bi-search" aria-label="Buscar"></i
                                      ></a>
                                    </li>
                                      <li class="nav-item">
                                            <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Turnos">
                                              <i class="bi bi-calendar" aria-label="Turnos"></i
                                        ></a>
                                    </li>
                                      <li class="nav-item">
                                            <a class="nav-link" href="./iniciar_sesion.html"data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Mi Cuenta">
                                              <i class="bi bi-person-circle" aria-label="Mi Cuenta"></i
                                        ></a>
                                    </li>
                                      <li class="nav-item">
                                            <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Salir">
                                              <i class="bi bi-box-arrow-right" aria-label="Salir"></i
                                        ></a>
                                    </li>
                                  </ul>
                                </div>
                              <div class="col-0 col-lg-6 d-flex flex-column">
                                <div class="d-none d-lg-flex">
                                  <input type="text" class="form-control flex-grow-1" />
                                <button class="btn btn-outline-secondary ms-2" type="button">
                            <i class="bi bi-search"></i>
                                </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="./index.html">Inicio</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="./productos.html">Productos</a></li>
                        <li class="nav-item"><a class="nav-link" href="./solicitarTurno.html">Turnos</a></li>
                        <li class="nav-item"><a class="nav-link" href="./contacto.html">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </nav>
</header>